body,
html {
    min-height: 100%;
}

.main {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
    min-height: 100%;
    background: url(../images/mian-bg2.gif) repeat;
}

.menu-one {
    width: 208px;
    border: 0 solid #fff;
    background: #000;
    float: left;
    min-height: 100%;
    margin-top: -42px;
}

.logo {
    padding: 0;
}

.menu-one>.nav-link {
    text-align: center;
    padding: 0.1rem 0.1rem;
}

.item-first {
    padding-top: 0;
    margin-top: 0;
}

.item-bottom {
    margin-top: 25px;
}

.item-language {
    margin-top: 10px;
    margin-bottom: 100px;
}

.item-language>a {
    color: #00B37F;
    margin: 0 15px;
}

.header {
    text-align: left;
    width: 100%;
    margin-left: 210px;
}

.header,
.header .btn {
    background: #D7D7D7;
    border: 1px solid #D7D7D7;
}

h1 {
    padding: 20px;
}

.title-menu {
    margin: auto 5px;
    color: red;
}

.container-fluid {
    min-height: 100%;
    color: #fff;
    text-align: center;
    width: 100%;
    /*position: relative;*/
}

h1 {
    font-size: 3.5rem;
}

.card {
    /*position: absolute;*/
    background: #2D2D2D;
    width: 55rem;
    display: inline-block;
}

.call-conference {
    background: #333;
    color: #fff;
    border: 0px;
}

.input-group-text {
    background: #464646;
    border: 0px;
    color: #fff;
}

.custom-radio {
    float: left;
}

.custom-radio:first-child {
    margin-left: 15px;
}

.btn-submit {
    float: right;
    background: #00C189;
    color: #fff;
}

.menu-two {
    position: absolute;
    top: 50px;
    left: 230px;
    border-bottom: 0;
}

.menu-two .nav-link.active {
    border: 0;
    background: #315880;
    color: #fff;
}

.menu-two .nav-link:hover {
    background: #315880;
}

.menu-two .nav-link {
    padding: .4rem 3rem;
    color: #fff;
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
