body {
    background: url(../images/mian-bg2.gif) repeat;
    color: #fff;
    min-height: 100vh;
}

main {
    margin-left: 208px;
    width: calc(100% - 208px);
    min-height: 100vh;
}

.header {
    height: 40px;
}

.sidebar {
    background: #000;
    flex: 0;
    width: 208px;
    position: absolute;
    height: calc(100vh - 40px);
    top: 40px;
    left: 0;
    bottom: 0;
}

.content-wrapper {
    margin-left: 208px;
    width: calc(100% - 208px);
}

.icon-item {
    background: #000;
    width: 150px;
    height: 150px
}

.settings {
    background: url(../images/login-bg.gif) no-repeat;
}

.menu-two .nav-link {
    color: #fff;
}

.menu-two .nav-link.active,
.menu-two .nav-link:hover {
    background: #315880;
}

.item-block .list-group-item {
    background-color: #272727;
    /* border-bottom: 1px solid #fff; */
}

.appointment {
    background: #272727;
}

.appointment .card-body {
    border: 1px solid #fff;
    height: 100vh;
    border-bottom: 0px;
    padding: 0;
}

.rooms .card-header {
    background: #464646;
}

.rooms {
    width: 220px;
}

.rooms,
.rooms .card-body {
    background: #333333;
}

.create-appointment {
    background: #272727;
    /*width: 5rem;*/
}

.call-conference {
    color: #fff;
    background: #333;
    border: 0px;
    margin-right: 2.5rem;
}

.input-group-text {
    border: 0px;
    background: #464646;
    color: #fff;
}

.btn-submit {
    background: #00c189;
    color: #fff;
}

.data-user .confirm {
    display: block;
    font-size: 100%;
}

.btn-edit {
    background: #454545;
    color: #fff;
    border: 0px;
}

.btn-delete {
    background: #f83e36;
    color: #fff;
    border: 0px;
}

.language-item {
    color: #009b6d;
}

.datepicker-show {
    background: #272727;
    display: inline-block;
    padding-bottom: 90px;
}

.schedule:hover {
    background-position: -0px -634px;
}

.reserve:hover {
    background-position: -0px -382px;
}

.manual-icon-white:hover {
    background-position: -0px -0px;
}

.top1:hover {
    background-position: -0px -192px;
}

.logout:hover {
    background-position: -0px -256px;
}

.room:hover {
    background-position: -0px -508px;
}

.schedule:hover {
    background-position: -0px -634px;
}

.setup:hover {
    background-position: -0px -760px;
}
